<head>
        <title>Toros y Vacas</title>
</head>
<h1 style="text-align:center">BIENVENIDOS</h1>
<%@torovaca.setDatos()%>
<form id="menu" method='post' action='/juego' style="text-align:center">
        <h3>INTRODUZCA EL CODIGO</h3>
        <input style="text-align:center" type="number" name="codigo1" min="0" max="9" required="">
        <input style="text-align:center" type="number" name="codigo2" min="0" max="9" required="">
        <input style="text-align:center" type="number" name="codigo3" min="0" max="9" required="">
        <input style="text-align:center" type="number" name="codigo4" min="0" max="9" required="">
        <input type="submit" value="Empezar Juego">
</form>
