


<%codigoIntento=params[:valor1].to_s + params[:valor2].to_s + params[:valor3].to_s+params[:valor4].to_s+params[:valor5].to_s%>
<%@torovaca.intento(codigoIntento)%>
<p>Numero de intentos: <%=@torovaca.getNumeroIntentos()%><p>
<p>Los toros son : <%= @torovaca.getCantidadToros()%></p>
<p>Las vacas son : <%= @torovaca.getCantidadVacas()%></p>


<input type="button" onclick="history.back()" name="volver atrás" value="volver atrás">