<!--<link id="template-file" href="../lib/TorosVacas.rb" rel="import" /> -->
<link rel="stylesheet" href="/css/stylesheets.css">

<h1 style="text-align:center">COMIENZA EL JUEGO<h1>
<% if $torovaca.getNivel()== "basico" %>
  <%$torovaca.setCodigo(params[:codigo1].to_s+params[:codigo2].to_s+params[:codigo3].to_s+params[:codigo4].to_s)%>
  <h4 style="text-align:center">INTENTE ADIVINAR EL CODIGO</h4>
  
  <form id="juego" method='post' action="/intento" style="text-align:center">
          <input style="text-align:center" size ="5" type="text" name="valor1" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor2" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor3" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor4" maxlength="1" required="">
          <input type="submit" value="Aceptar"> 
          <input type="reset" value="Borrar Casillas">
  </form>
<%end%>
<% if $torovaca.getNivel()== "intermedio" %>
  <%$torovaca.setCodigo(params[:codigo1].to_s+params[:codigo2].to_s+params[:codigo3].to_s+params[:codigo4].to_s+params[:codigo5].to_s+params[:codigo6].to_s)%>
  <h4 style="text-align:center">INTENTE ADIVINAR EL CODIGO</h4>
  <form id="juego" method='post' action="/intento" style="text-align:center">
          <input style="text-align:center" size ="5" type="text" name="valor1" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor2" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor3" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor4" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor5" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor6" maxlength="1" required="">
          <input type="submit" value="Aceptar"> 
          <input type="reset" value="Borrar Casillas">
  </form>
<%end%>
<% if $torovaca.getNivel()== "avanzado" %>
  <%$torovaca.setCodigo(params[:codigo1].to_s+params[:codigo2].to_s+params[:codigo3].to_s+params[:codigo4].to_s+params[:codigo5].to_s+params[:codigo6].to_s+params[:codigo7].to_s+params[:codigo8].to_s)%>
  <h4 style="text-align:center">INTENTE ADIVINAR EL CODIGO</h4>
  <form id="juego" method='post' action="/intento" style="text-align:center">
          <input style="text-align:center" size ="5" type="text" name="valor1" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor2" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor3" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor4" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor5" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor6" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor7" maxlength="1" required="">
          <input style="text-align:center" size ="5" type="text" name="valor8" maxlength="1" required="">
          <input type="submit" value="Aceptar"> 
          <input type="reset" value="Borrar Casillas">
  </form>
<%end%>

<div>
  <form style="text-align:center">
    <input type="button" onclick="myFunction()" class="button button3" value="Abandonar la partida"> 
  </form>
</div>


<script>
  function myFunction() {
    var respuesta = confirm("Estas seguro que deseas abandonar la partida? No se guardara tu progreso y perderas el juego!!!");
    if (respuesta == true) {
      window.location.href = '/';
    }
  }
</script>


















<%# <div id="demo"></div> %>
<%# 
<script>
function myFunction(event) {
  
  event.preventDefault();
  torovaca=new ToroVaca.new("")
  console.log(torovaca)
  //codigoIntento=params[:valor1].to_s + params[:valor2].to_s + params[:valor3].to_s+params[:valor4].to_s+params[:valor5].to_s
  a=event.currentTarget.elements.valor1.value;
  b=e.currentTarget.elements.valor2.value;
  c=event.currentTarget.elements.valor3.value;
  d=event.currentTarget.elements.valor4.value;
  codigoIntento=a+b+c+d;
  console.log(codigoIntento);
  document.getElementById("demo").innerHTML = codigoIntento;
}


document.getElementById("juego").addEventListener("submit", myFunction);
</script> %>