<!--<link id="template-file" href="../lib/TorosVacas.rb" rel="import" /> -->
<h1 style="text-align:center">COMIENZA EL JUEGO<h1>
<%$torovaca.setCodigo(params[:codigo1].to_s+params[:codigo2].to_s+params[:codigo3].to_s+params[:codigo4].to_s)%>
<h4 style="text-align:center">INTENTE ADIVINAR EL CODIGO</h4>
<form id="juego" method='post' action="/intento" style="text-align:center">
        <input style="text-align:center" type="text" name="valor1" maxlength="1" required="">
        <input style="text-align:center" type="text" name="valor2" maxlength="1" required="">
        <input style="text-align:center" type="text" name="valor3" maxlength="1" required="">
        <input style="text-align:center" type="text" name="valor4" maxlength="1" required="">
        <input type="submit" value="aceptar"> 
</form>




















<%# <div id="demo"></div> %>
<%# 
<script>
function myFunction(event) {
  
  event.preventDefault();
  torovaca=new ToroVaca.new("")
  console.log(torovaca)
  //codigoIntento=params[:valor1].to_s + params[:valor2].to_s + params[:valor3].to_s+params[:valor4].to_s+params[:valor5].to_s
  a=event.currentTarget.elements.valor1.value;
  b=e.currentTarget.elements.valor2.value;
  c=event.currentTarget.elements.valor3.value;
  d=event.currentTarget.elements.valor4.value;
  codigoIntento=a+b+c+d;
  console.log(codigoIntento);
  document.getElementById("demo").innerHTML = codigoIntento;
}


document.getElementById("juego").addEventListener("submit", myFunction);
</script> %>