<form id="juego" method='post' action='/juego'>
        <input style="text-align:center" type="number" name="name" min="0" max="9" required="">
        <input style="text-align:center" type="number" name="name" min="0" max="9" required="">
        <input style="text-align:center" type="number" name="name" min="0" max="9" required="">
        <input style="text-align:center" type="number" name="name" min="0" max="9" required="">
        <input type="submit" value="aceptar">
</form>