
<form id="juego" method='post' action="/intento">
        <input style="text-align:center" type="string" name="valor1" min="0" max="9" required="">
        <input style="text-align:center" type="string" name="valor2" min="0" max="9" required="">
        <input style="text-align:center" type="string" name="valor3" min="0" max="9" required="">
        <input style="text-align:center" type="string" name="valor4" min="0" max="9" required="">
        <input type="button" value="aceptar">
</form>


